In [1]:
import pandas as pd
import numpy as np

In [2]:
# Reading dataset 
df = pd.read_csv("girlslikesimon_dataset.csv")

In [3]:
df

    Hair   Body      Pose     Smile Smart LikesSimon
0  Blond   Thin  Arrogant    Toothy    No        Yes
1  Brown   Thin   Natural  Pleasant   Yes         No
2  Blond  Plump     Goofy  Pleasant    No        Yes
3  Black   Thin  Arrogant      None    No         No
4  Blond  Plump   Natural    Toothy   Yes         No

In [4]:
print(df.shape)

(5, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
Hair          5 non-null object
Body          5 non-null object
Pose          5 non-null object
Smile         5 non-null object
Smart         5 non-null object
LikesSimon    5 non-null object
dtypes: object(6)
memory usage: 368.0+ bytes

In [6]:
#Example Type  ---> for japancar dataset
#EnjoySport?   ---> for sport dataset
#LikesSimon    ---> for girlsLikeSimon dataset

output = df['LikesSimon']
df = df.drop(['LikesSimon'],axis=1)
rows = df.shape[0]
cols = df.shape[1]

In [7]:
data_array = df.to_numpy()
output_array = output.to_numpy()

In [8]:
print(data_array)
print(output_array)

[['Blond' 'Thin' 'Arrogant' 'Toothy' 'No']
 ['Brown' 'Thin' 'Natural' 'Pleasant' 'Yes']
 ['Blond' 'Plump' 'Goofy' 'Pleasant' 'No']
 ['Black' 'Thin' 'Arrogant' 'None' 'No']
 ['Blond' 'Plump' 'Natural' 'Toothy' 'Yes']]
['Yes' 'No' 'Yes' 'No' 'No']

In [9]:
# Initialize specific hypothesis
specific_hypothesis = ['None']*cols
print(specific_hypothesis)

['None', 'None', 'None', 'None', 'None']

In [10]:
def findS(data_array, output_array):
    for i in range(0,rows):
        if(output_array[i] == 'Yes'):
            specific_hypothesis = data_array[i]
            break
            
    for j in range(0,rows):
        if(output_array[j] == 'Yes'):
            for k in range(0,cols):
                if specific_hypothesis[k] != data_array[j][k]:
                    specific_hypothesis[k] = '?'
        print('ITERATION {}:'.format(j), 'SPECIFIC HYPOTHESIS: ', specific_hypothesis, '\n')
    return specific_hypothesis

In [11]:
specific_hypothesis = findS(data_array, output_array)

ITERATION 0: SPECIFIC HYPOTHESIS:  ['Blond' 'Thin' 'Arrogant' 'Toothy' 'No']

ITERATION 1: SPECIFIC HYPOTHESIS:  ['Blond' 'Thin' 'Arrogant' 'Toothy' 'No']

ITERATION 2: SPECIFIC HYPOTHESIS:  ['Blond' '?' '?' '?' 'No']

ITERATION 3: SPECIFIC HYPOTHESIS:  ['Blond' '?' '?' '?' 'No']

ITERATION 4: SPECIFIC HYPOTHESIS:  ['Blond' '?' '?' '?' 'No']

In [12]:
print(specific_hypothesis)

['Blond' '?' '?' '?' 'No']